# Byte-compiled / optimized / DLL files

**pycache**/
\*.py\[cod]
\*\$py.class

# C extensions

\*.so

# Distribution / packaging

.Python
build/
develop-eggs/
dist/
download/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
\*.egg-info/
.installed.cfg
\*.egg

# Virtual environments

.env
.venv
venv/
env/
\# Pytest cache
.pytest\_cache/

# VSCode

.vscode/

# IDEs and editors

.idea/
\*.sublime-project
\*.sublime-workspace

# OS files

.DS\_Store
Thumbs.db

# Streamlit

.streamlit/

# Logs

\*.log

# Jupyter Notebook checkpoints

.ipynb\_checkpoints/
